.formContainer{
    margin: 5% auto;
    background-color: #D9B48FFF; 
    border-radius: 12px;
    padding: 1%;
    width: 40%;
    text-align: center;
}

@media (max-width: 500px) { 
    .formContainer{
        width: 80%;
    }
}

.container{
    background-size: cover;
    background-repeat: no-repeat;
}
    
input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.submitSignUp{
    width: 70%;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #0063B2FF;
    font-size: 20px;
    color: white;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.submitSignUp:hover {
    background-color: rgb(54, 154, 235);
}

.submitButton:focus {outline:0;}

.error{
    color: orangered;
}